<div class="container">
    <div *ngFor= "let empleado of empleados">
        <div class="jumbotron">
            <table>
                <tr>
                    <td><span>Id</span></td>
                    <td>{{empleado.id}}</td>
                </tr>
                <tr>
                    <td><span>Nombre</span></td>
                    <td>{{empleado.name}}</td>
                </tr>
                <tr>
                    <td><span>Apellidos</span></td>
                    <td>{{empleado.lastname}}</td>
                </tr>
                <tr>
                    <td><span>Sueldo</span></td>
                    <td>{{empleado.salary | currency}}</td>
                </tr>
            </table>
            <div class="d-flex justify-content-center">
                <button class="btn btn-warning m-3" (click)=loadUpdateEmployeeForm(empleado.id)>Actualizar</button>
                <button class="btn btn-danger m-3" (click)=deleteEmployee(empleado.id)>Eliminar</button>
            </div>
        </div>
    </div>
    <div class="my-5">
        <button class="btn btn-success" (click)=loadRegisterEmployee()>Ingresar nuevo empleado</button>
    </div>  
</div>