/* You can add global styles to this file, and also import other style files */
html, body { 
    height: 100%;
}

body, app-root{
    display: flex;
    flex-direction: column;
}

app-root, router-outlet{
    flex: 1 0 auto;
}

app-root, app-footer{
    flex-shrink: 0;
}
