/* You can add global styles to this file, and also import other style files */
html, body, app-root { 
    height: 100%;
}

body, app-root{
    display: flex;
    flex-direction: column;
}

.jumbotron {
    margin-top:3%;
    background-color: rgb(190, 190, 190);
    padding-top: 2.5%;
    padding-bottom: 2%;
    padding-left: 1.5%;
    padding-right: 2.5%;
    border-radius : 25px;
}

@media (max-width: 720px){
    .jumbotron {
        padding-top: 2.5%;
        padding-bottom: 2%;
        padding-left: 10%;
        padding-right: 7%;
        border-radius: 15px;
    }
}