<footer class="footer">
    <div class="container">
        Contact:
        <ul>
            <li><fa-icon [icon] = "faGithub"></fa-icon><a href="https://www.github.com/KewinEvers96">KewinEvers96</a></li>
            <li><fa-icon [icon] = "faIg"></fa-icon><a href="https://www.instagram.com/eversyagari">Kewin Evers </a></li>
            <li><fa-icon [icon] = "faYt"></fa-icon><a href="https://www.youtube.com/channel/UCZQbqaG5GT1hIWdtB1qSy0Q">Un canal de un amigo</a></li>
        </ul>
    </div>
</footer>